#personal-wrapper {
    display: grid;
    padding: 0.5rem;
    justify-content: space-evenly;
    align-items: baseline;
}
#years-wrapper {
    border-radius: 100vw;
    background-color: #0b290b;
    border: solid 3px green;
    box-shadow: 0px 0px 8px green;
    display: grid;
    align-items: center;
    font-family: Arial;
    font-weight: bold;
    color: yellow;
    text-shadow: 0 0 11px white;
}

#avi {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 8px yellow;
    background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
}
@media screen and (min-width: 481px) {
    #avi {
        border-radius: 100vw;
        width: 15vw;
        height: 15vw; 
    }
    #avi > img {
        width: 14.5vw;
        height: 14.5vw;
        object-fit: cover;
        border-radius: 100vw;
    }
    #years-wrapper {
        height: 5vw;
        width: 5vw;
        text-align: center;
        font-weight: bold;
    }
    #years-wrapper > p {
        font-size: 1vw;
        margin: 0;
    
    }
  }
  @media screen and (max-width: 480px) {
    #avi {
        border-radius: 100vw;
        width: 51vw;
        height: 51vw; 
    }
    #avi > img {
        width: 50vw;
        height: 50vw;
        object-fit: cover;
        border-radius: 100vw;
    }
    #personal-wrapper {
        width: 100%;

    }
    #years-wrapper {
        height: 15vw;
        width: 15vw;
        text-align: center;
        font-weight: bold;
    }
    #years-wrapper > p {
        font-size: 5vw;
        margin: 0;
    
    }
  }